<!-- star/templates/star/header.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <!-- Логотип и слоган -->
    <div class="d-flex flex-column brand-container">
      <a class="navbar-brand fw-bold" href="/">Borntoday.ru</a>
      <span class="small">Дни рождения знаменитостей</span>
    </div>

    <!-- Форма поиска -->
    <form class="d-flex flex-grow-1 mx-lg-4" action="{% url 'search' %}" method="get">
      <div class="input-group">
        <input class="form-control" type="search" name="q" placeholder="Поиск знаменитостей..."
               aria-label="Search" value="{{ request.GET.q|default:'' }}">
        <button class="btn btn-outline-primary" type="submit">Найти</button>
      </div>
    </form>

    <!-- Кнопка для мобильного меню -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu"
            aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Меню в шапке -->
    <div class="collapse navbar-collapse justify-content-end" id="mainMenu">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'celebrities' %}">Знаменитости</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dates' %}">Даты</a>
        </li>
      </ul>
    </div>
  </div>
</nav>